<script type="text/ng-template" id="table-column-preference.html">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h3 class="modal-title custom-font">Define Columns in Table</h3>
    </div>
    <div class="modal-body define-columns">
        <div ng-repeat="columnGroup in availableColumns">
            <p>{{columnGroup.group}}</p>

            <div class="checkbox" ng-repeat="column in columnGroup.columns">
                <label>
                    <input type="checkbox" checklist-model="currentColumns" checklist-value="column.column"/>
                    {{column.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="ok()"><i class="fa fa-arrow-right"></i>
            Apply Changes
        </button>
        <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i>
            Close
        </button>
    </div>
</script>
<script type="text/ng-template" id="choose-product.html">
    <div class="modal-header">
        <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select a New Product</h4>
    </div>
    <div class="modal-body">
        <div class="container width-100 mt-15">
            <div class="row">
                <div class="col-xs-8">
                    <input class="form-control" type="text" placeholder="Search" ng-model="search.name">
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="revenueFilter" ng-options="f.value as f.name for f in REVENUE_FILTER"></select>
                </div>
            </div>
        </div>
        <table class="table mt-15 new-product-table">
            <thead>
            <tr>
                <th width="100px;"></th>
                <th>Name</th>
                <th>Price (USD)</th>
                <th>Conversions</th>
                <th>Revenue</th>
                <th>Brand</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in products | filter:search:strict">
                <td><img src="http://ahextechnologies.com/roi/images/product.PNG" class="img-responsive"></td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency}}</td>
                <td>{{p.conversions}}</td>
                <td>{{p.revenues | currency}}</td>
                <td>{{p.u_brand}}</td>
                <td>
                    <label>
                        <input type="checkbox" checklist-model="selectedProducts" checklist-value="p"/>
                        {{column.name}}
                    </label>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn pull-left btn-primary" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary"  ng-click="ok()">Select</button>
    </div>
</script>